
body{
    font-family: 'polysans slim';
    min-width: 400px;
    min-height: 600px;
}

#input-el{
    width: 100%;
    border: 2px solid green;
    min-height: 7vh;
    margin: 2rem 0rem 1rem 0rem; 
    padding:0rem 1rem;
    font-size: 1.5rem;
    box-sizing: border-box;
    border-radius: .8rem;
}

input[type=text]:focus{
    background: rgb(244, 247, 255);
}

button{
    color: white;
    background: green;
    font-size: .8rem;
    padding: .6rem 1.2rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border: 2px solid green;
    border-radius: 1rem;
    margin-top: .5rem;
}
#delete-btn{
    background-color: inherit;
    border: 2px solid green;
    color: green;
    transition: background .3s   ;
}
#delete-btn:hover{
    color: white;
    background: green;
}
ul{
    padding-inline-start: 0rem;
}

li {
    list-style-type: none;
    margin-bottom: .5rem;
}

li a {
    color: green;
}


