
h1{
    color: rgb(86, 67, 16);
    font-size: 3rem;
}

main{
    text-align: center;
    width: 100%;
    margin: 5rem auto;
}
body{
    font-family: 'polysans slim';
    height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    /* background: url(https://images.unsplash.com/photo-1682685797507-d44d838b0ac7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80) no-repeat ; */
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgb(222, 193, 193);
}

#cards-el{
    min-height: 30vh;
}
p{
    color: rgb(42, 41, 44);
    font-size: 2rem;
    font-family: "neue haas grotesk display pro";
}

button{
    font-family: inherit;
    color: rgb(223, 249, 223);
    font-size: 1.4rem;
    padding: 1rem 2rem;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
    transition: transform  500ms;
    background-color: rgb(29, 27, 27);
}

button:hover{
    transform: translate(0 , -3px);
}

section{
    display:none;
}

@media screen and (min-width: 1992px){
    body{
        height: 100vh;
        overflow: hidden;
    }
    main{
        background: blue;
        display: none;
    }
    section{
        display: block;
        position: absolute;
        left: 50%;
        transform: translate(-50% , 0);
        /* margin-top: 45vh; */
        font-size: clamp(2rem, 5vw, 3rem);

    }
}
